

/* home page */
.main {

    padding-top: 15%;
    height: 600px;
    /* background-image: url(images/modelmm-removebg.png); */
    display: flex;
    text-align: left;
    padding-left: 100px;
    background-size: cover;
    justify-content: right;
    flex-direction: column-reverse;
    background-repeat: no-repeat;

}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #df905a;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}



/* Featured Products */





.p1:hover img {

    width: 400px;
    height: 500px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.p1:hover img {
    width: 500px;
    height: 600px;
}




.p1 {
    display: inline-block;
}


.p1 img {
    padding: 50px 0px 30px 100px;
    height: 550px;
}

hr {
    border: 5px solid rgb(193, 139, 139);
}


.p2 {
    display: inline-block;
}

.p2 img {
    width: 400px;
    height: 490px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.p2:hover img {
    width: 500px;
    height: 500px;
}


.p2 img {
    padding: 50px 0px 30px 100px;
    height: 450px;
}

hr {
    border: 5px solid rgb(193, 139, 139);
}



.p2 {
    display: inline-block;
}


.p2 img {
    padding: 50px 0px 30px 100px;
    height: 400px;
}

hr {
    border: 5px solid rgb(193, 139, 139);
}

.p3 {
    display: inline-block;
}


.p3 img {
    padding: 50px 0px 30px 100px;
    height: 550px;
}

.p3 img {
    width: 400px;
    height: 450px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.p3:hover img {
    width: 450px;
    height: 500px;
}

hr {
    border: 5px solid rgb(193, 139, 139);
}






.html {
    background: url(bg4.avif);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

body {
    display: grid;
    text-align: center;
}

.text {
    color: #0a0707;
    text-align: center;
}

.container1 {
    padding-left: 30%;
    padding-top: 5%;
    padding-bottom: 15%;
}

.content {

    width: 500px;
    border-radius: 20px;
    padding: 20px 30px;
    margin-top: 15px;
    box-shadow: -3px -3px 9px #d31919a2,
        3px 3px 7px rgba(2, 115, 228, 0.671);

}

.content .text {
    font-size: large;
    color: rgb(206, 89, 39);
}

.content .field {
    padding-bottom: 10px;
    height: 50px;
    width: 100%;
    display: flex;
    position: relative;
}

.field input {
    height: 100%;
    width: 100%;
    padding-left: 30px;
    font-size: 18px;
    color: #010101;
    border: 1px solid rgba(3, 3, 3, 0.438);
    border-radius: 8px;
    background: rgba(0, 0, 0, 0);
}

.field input::placeholder {
    color: #050404ce;
}

textarea {
    padding-left: 30px;
    color: #0a0909ce;
    height: 100%;
    width: 100%;
    font-size: 15px;
    border-color: #0a0909;
    resize: none;
    background-color: rgba(0, 0, 0, 0);
}
